*{
    margin: 0px;
    padding: 0px;
    color: #5b5b5b;
}
body{
    background-color: #eceff4;      
}
main{
    padding-top: 80px;
}
.card{
    margin: 20px auto;
    background-color: #fff;
    width: 320px;
    border-radius: 5px;
   box-shadow: 0 0 3px 3px #eaecf0;
   
}
.card-header{
    border-bottom: 1px solid #eee;
    padding: 20px 25px;
    font-weight: bold;
}
.card-body{
    padding: 20px 25px;
}
input{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    border: 1px solid #eee;
    border-radius: 3px;
}
input:focus{
    outline: none !important;
    border:1px solid#4d59a1;
    box-shadow: 0 0 10px #719ECE;
}
input::placeholder{
    color: #b2b2b2;
}
form{
    overflow: hidden;
}
button{
    border: 0px;
    color: white;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 20px;
    margin-top: 5px;
    border-radius: 3px;
    background: #4d59a1;
    float: right;
    
}
.card-contact{
    padding: 20px 25px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}
.phone{
    font-weight: normal;
    font-size: 90%;
}
.delete{
    font-size: 70%;
}
.delete:hover{
color: #f00;
cursor: pointer;
}